.top_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.middle_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottom_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.choice {
  height: 200px;
  width: 200px;
  border: 5px solid red;
}

#o {
  height: 100px;
  width: 100px;
}
